h1 {
  color: #00c2a2;
}

textarea {
  height: 200px;
  width: 400px;
  display: block;
  margin: 0 auto;
}

button {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  cursor: pointer;
  padding: 1em 4em;
  background-color: white;
  border: 1px solid #00c2a2;
  color: #00c2a2;
}

.continue-text {
  color: #00c2a2;
}